################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vectorize/Vectorize.SourceGenerator/bin/Debug/netstandard2.0
/Vectorize/Vectorize.SourceGenerator/obj
/Vectorize/Vectorize.Sample
/bin
/obj
/Vectorize/ConstExpr.SourceGenerator/Generated
/Vectorize/ConstExpr.SourceGenerator/obj
/Vectorize/ConstExpr.SourceGenerator/bin/Debug/netstandard2.0
/Vectorize/ConstExpr.Sample/bin/Debug/net9.0
/Vectorize/ConstExpr.Sample/obj/Debug/net9.0
/Vectorize/ConstExpr.Sample/obj
/ConstExpr.Tests/bin/Debug/net9.0
/ConstExpr.Tests/obj
/ConstExpr.Tests/obj/Debug/net9.0/ConstExpr.Tests.GeneratedMSBuildEditorConfig.editorconfig
/ConstExpr.Tests/obj/Debug/net9.0/ConstExpr.Tests.GlobalUsings.g.cs
/ConstExpr.Tests/obj/Debug/net9.0/ConstExpr.Tests.AssemblyInfo.cs
/ConstExpr.Tests/obj/ConstExpr.Tests.csproj.nuget.g.props
/ConstExpr.Tests/obj/Debug/net9.0/ConstExpr.Tests.AssemblyInfo.cs
/ConstExpr.Tests/obj/Debug/net9.0/ConstExpr.Tests.GeneratedMSBuildEditorConfig.editorconfig
/ConstExpr.Tests/obj/ConstExpr.Tests.csproj.nuget.g.targets
/ConstExpr.Tests/obj/Debug/net9.0/ConstExpr.Tests.GlobalUsings.g.cs
!/SourceGen.Utilities/obj/
/SourceGen.Utilities/bin/Debug/netstandard2.0
/SourceGen.Utilities/obj
/SourceGen.Utilities/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/SourceGen.Utilities/obj/Debug/netstandard2.0/SourceGen.Utilities.AssemblyInfoInputs.cache
/SourceGen.Utilities/obj/Debug/netstandard2.0/SourceGen.Utilities.assets.cache
/SourceGen.Utilities/obj/Debug/netstandard2.0/SourceGen.Utilities.csproj.AssemblyReference.cache
/SourceGen.Utilities/obj/project.assets.json
/SourceGen.Utilities/obj/project.nuget.cache
/SourceGen.Utilities/obj/SourceGen.Utilities.csproj.nuget.dgspec.json
/ConstExpr.Tests/bin/Release/net9.0
/SourceGen.Utilities/bin/Release/netstandard2.0
/Vectorize/ConstExpr.SourceGenerator/bin
/Vectorize/ConstExpr.Core/bin/Debug/netstandard2.0
/Vectorize/ConstExpr.Core/obj/Debug/netstandard2.0
/Vectorize/ConstExpr.Core/obj
